* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body{
  font-size: 100%;
}

.timer-container {
  /* height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover; */
  background-position: center;
  background-size: cover;
  color: #fff ;
  height: 100vh;
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
}
.timer{
  background-color: rgba(0, 0, 0 , 0.5);
  align-items: center;
  justify-content: center;
  padding-bottom: 7em;
  padding-top: 2em;
  width: 100%;
  height: 100%; 
}

.timer div:first-child {
  text-align: center;
}
h2{
  font-weight: 600;
  margin-bottom: 0.5em;
}
.timer div:first-child p {
  color: #f8f8f8;
}
.timer .countdown {
  border: 1px solid #fff;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 3em;
  margin-left: 25em;
  margin-right: 25em;
  padding: 3em;
  text-align: center;
}
section p:first-child {
  font-size: 2em;
  
} 
.timer div:last-child span{
  font-size: 2em;
  font-weight: 400;
}

@media screen and(max-width: 480px) {
  .timer div:last-child {
    margin-left: 2em;
    margin-right: 2em;
    padding: 3em 1em;
  }
  
}

.quote{
  text-align: center;
  padding-top: 3em;
}